.ranking {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  padding: var(--s-6);
}

.ranking h1 {
  color: var(--c-primary);
  font-size: var(--s-5);
}

.ranking p {
  color: var(--c-primary-7);
  font-size: var(--s-7);
  font-weight: bold;
}

.ranking form {
  display: flex;
  flex-flow: column nowrap;
}

.ranking input {
  max-width: var(--s-11);
  margin-top: var(--s-6);
  text-align: center;
}

.ranking button {
  margin-top: var(--s-4);
}

.saveBtn {
  margin-bottom: var(--s-5);
}