:root {
  /* Colors */
  --c-primary-1: hsl(46.67, 100%, 96.47%);
  --c-primary-2: hsl(44.78, 89.33%, 85.29%);
  --c-primary-3: hsl(42.77, 75.94%, 73.92%);
  --c-primary-4: hsl(40, 65.08%, 62.94%);
  --c-primary-5: hsl(38.47, 53.04%, 51.57%);
  --c-primary-6: hsl(36.43, 40.78%, 40.39%);
  --c-primary-7: hsl(34.09, 29.73%, 29.02%);
  --c-primary-8: hsl(30, 17.39%, 18.04%);
  --c-primary-9: hsl(30, 5.88%, 6.67%);
  --c-gray-1: hsl(0, 0%, 92.55%);
  --c-gray-2: hsl(0, 0%, 81.57%);
  --c-gray-3: hsl(0, 0%, 70.59%);
  --c-gray-4: hsl(0, 0%, 59.61%);
  --c-gray-5: hsl(0, 0%, 49.02%);
  --c-gray-6: hsl(0, 0%, 38.04%);
  --c-gray-7: hsl(0, 0%, 27.06%);
  --c-gray-8: hsl(0, 0%, 16.08%);
  --c-gray-9: hsl(0, 0%, 5.1%);
  --c-danger-1: hsl(0, 100%, 94.51%);
  --c-danger-2: hsl(0, 90.7%, 83.14%);
  --c-danger-3: hsl(0, 83.1%, 72.16%);
  --c-danger-4: hsl(0, 74%, 60.78%);
  --c-danger-5: hsl(0, 65.22%, 49.61%);
  --c-danger-6: hsl(0, 56.92%, 38.24%);
  --c-danger-7: hsl(0, 47.83%, 27.06%);
  --c-danger-8: hsl(0, 40%, 15.69%);
  --c-danger-9: hsl(0, 30.43%, 4.51%);
  --c-success-1: hsl(111.43, 100%, 94.51%);
  --c-success-2: hsl(111.54, 90.7%, 83.14%);
  --c-success-3: hsl(111.36, 83.1%, 72.16%);
  --c-success-4: hsl(111.49, 74%, 60.78%);
  --c-success-5: hsl(111.64, 65.22%, 49.61%);
  --c-success-6: hsl(111.35, 56.92%, 38.24%);
  --c-success-7: hsl(111.82, 47.83%, 27.06%);
  --c-success-8: hsl(110.63, 40%, 15.69%);
  --c-success-9: hsl(111.43, 30.43%, 4.51%);
  --c-warning-1: hsl(51.43, 100%, 94.51%);
  --c-warning-2: hsl(51.54, 90.7%, 83.14%);
  --c-warning-3: hsl(51.36, 83.1%, 72.16%);
  --c-warning-4: hsl(51.49, 74%, 60.78%);
  --c-warning-5: hsl(51.27, 65.22%, 49.61%);
  --c-warning-6: hsl(51.35, 56.92%, 38.24%);
  --c-warning-7: hsl(50.91, 47.83%, 27.06%);
  --c-warning-8: hsl(50.63, 40%, 15.69%);
  --c-warning-9: hsl(51.43, 30.43%, 4.51%);
  --c-info-1: hsl(196.55, 100%, 94.31%);
  --c-info-2: hsl(196.71, 90.8%, 82.94%);
  --c-info-3: hsl(196.64, 83.22%, 71.96%);
  --c-info-4: hsl(196.91, 74.13%, 60.59%);
  --c-info-5: hsl(196.83, 65.08%, 49.41%);
  --c-info-6: hsl(196.91, 56.7%, 38.04%);
  --c-info-7: hsl(197.27, 47.83%, 27.06%);
  --c-info-8: hsl(196.88, 40%, 15.69%);
  --c-info-9: hsl(197.14, 30.43%, 4.51%);

  /* Helper colors */
  --c-primary: var(--c-primary-5);
  --c-gray: var(--c-gray-4);
  --c-danger: var(--c-danger-5);
  --c-success: var(--c-success-5);
  --c-warning: var(--c-warning-5);
  --c-info: var(--c-info-5);

  /* Sizes */
  --s-1: 0.4rem;
  --s-2: 0.8rem;
  --s-3: 1.2rem;
  --s-4: 1.6rem;
  --s-5: 2.4rem;
  --s-6: 3.2rem;
  --s-7: 4.8rem;
  --s-8: 6.4rem;
  --s-9: 9.6rem;
  --s-10: 12.8rem;
  --s-11: 19.2rem;
  --s-12: 25.6rem;
  --s-13: 38.4rem;
  --s-14: 51.2rem;
  --s-15: 64rem;
  --s-16: 76.8rem;

  /* Helper sizes */
  --s-text-xs: var(--s-2);
  --s-text-sm: var(--s-3);
  --s-text-md: var(--s-4);
  --s-text-lg: var(--s-5);
  --s-text-xl: var(--s-6);
  --s-text: var(--text-md);
  --s-rad-xs: 0.2rem;
  --s-rad-sm: var(--s-1);
  --s-rad-md: var(--s-2);
  --s-rad-lg: var(--s-3);
  --s-rad-xl: var(--s-4);
  --s-rad: var(--s-rad-sm);

  /* Shadows */
  --sh-1: 0 0.1rem 0.3rem hsla(0, 0%, 0%, 0.12), 0 0.1rem 0.2rem hsla(0, 0%, 0%, 0.24);
  --sh-2: 0 0.3rem 0.6rem hsla(0, 0%, 0%, 0.15), 0 0.2rem 0.4rem hsla(0, 0%, 0%, 0.12);
  --sh-3: 0 1rem 2rem hsla(0, 0%, 0%, 0.15), 0 0.3rem 0.6rem hsla(0, 0%, 0%, 0.1);
  --sh-4: 0 1.5rem 2.5rem hsla(0, 0%, 0%, 0.15), 0 0.5rem 1rem hsla(0, 0%, 0%, 0.05);
  --sh-5: 0 2rem 4rem hsla(0, 0%, 0%, 0.2);

  /* Helper shadows */
  --sh: var(--sh-2);
}
