.snakePart {
  background-color: var(--c-secondary-7);
  border-color: var(--c-secondary-7);
}

.snakePart:nth-child(2n + 1) {
  background-color: hsl(34.09, 29.73%, 25.02%);
  border-color: hsl(34.09, 29.73%, 25.02%);
}

.snakePart:nth-child(1) {
  background-color: var(--c-secondary-8);
  border-color: var(--c-secondary-8);
}
