.btn {
  padding: var(--s-2) var(--s-5);
  background-color: var(--c-gray-2);
  border: 1px solid var(--c-gray-2);
  border-radius: var(--s-rad-sm);
  font-size: var(--s-4);
  text-transform: uppercase;
  transition: background-color 150ms, border-color 150ms;
}

.btn:hover,
.btn:focus {
  cursor: pointer;
  background-color: var(--c-gray-1);
  border-color: var(--c-gray-1);
}

.btn:focus {
  outline: none;
}

/* Sizes */

.xs {
  padding: calc(var(--s-1) / 2) var(--s-1);
  font-size: var(--s-3);
}

.sm {
  padding: var(--s-1) var(--s-3);
}

.lg {
  padding: var(--s-3) var(--s-6);
}

.xl {
  padding: var(--s-5) var(--s-8);
}

/* Backgrounds */

.primary {
  background-color: var(--c-primary);
  border-color: var(--c-primary);
  color: white;
}

.primary:hover,
.primary:focus {
  background-color: var(--c-primary-4);
  border-color: var(--c-primary-4);
}

.secondary {
  background-color: var(--c-secondary);
  border-color: var(--c-secondary);
  color: white;
}

.secondary:hover,
.secondary:focus {
  background-color: var(--c-secondary-4);
  border-color: var(--c-secondary-4);
}

.gray {
  background-color: var(--c-gray-4);
  border-color: var(--c-gray-4);
  color: white;
}

.gray:hover,
.gray:focus {
  background-color: var(--c-gray-3);
  border-color: var(--c-gray-3);
}

.lightgray {
  background-color: var(--c-gray-2);
  border-color: var(--c-gray-2);
}

.lightgray:hover,
.lightgray:focus {
  background-color: var(--c-gray-1);
  border-color: var(--c-gray-1);
}